/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@1,700&family=Poppins&family=Roboto:ital@0;1&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.text-blue{
    color: rgb(88, 29, 29);
}
/* main part */
.head{
    margin-top: 100px;
    margin-bottom: 130px;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    color:rgb(88, 29, 29);
}
.header{
    max-width: 350px;
    margin-top: -100px;
    border-radius: 6px;
    background-color: lightblue;
}
li{
    list-style: none;
}
/* media query */
/* desktop and mobile responsive */
@media screen and (max-width: 768px) {
    
    .header{
        margin-top: 20px;
    }
    
    }
    

